{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Главная {% endblock %}</title>
</head>
<body>
 <header>
     <h1> Объявления</h1>
 </header>
<nav>
    <a href="{% url 'app:index' %}">Главная</a>
    {% if perms.app.add_bb %}
    <a href="{% url 'app:add' %}">Добавить</a>
    {% endif %}
    <a href="{% url 'app:register_user' %}"> Регистрация</a>
    <a href="{% url 'app:archive' %}"> Какие дни есть? </a>
    <a href="{% url 'app:rubric_set' %}">Список рубрик (формсет)</a>
    <a href="{% url 'accounts:login' %}"> Логин</a>
    <a href="{% url 'accounts:password_change' %}"> Смена пароля</a>
    <a href="{% url 'accounts:password_reset' %}"> Сброс пароля</a>
    <form method="post" action="{% url 'accounts:logout' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit">Выйти</button>
    </form>
    </br>
    </br>
    {% for rubric in rubrics %}
    <a href="{% url 'app:by_rubric' rubric.pk %}"> {{ rubric.name }}</a>
    {% endfor %}
</nav>
<section>
    {% block content %}
    Текст из basic.html <--
    {% endblock %}
</section>
</body>
</html>